* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

body {
    align-items: center;
    background-color: #d2b7e5;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    overflow-y: hidden;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 460px;
    display: flex;
    flex-direction: column;
}

label {
    padding: 20px 0 5px 0;
    color: rgb(72, 72, 72);
    font-weight: 500;
}

input {
    background-color: #e4d5f1;
    border-radius: 10px;
    border: none;
    color: rgb(156, 156, 156);
    height: 50px;
    padding: 0 15px;
}

h1 {
    color: rgb(72, 72, 72);
    font-size: 3rem;
}

p {
    color: rgb(72, 72, 72);
    padding: 10px 0 20px;
}

button {
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    background-color: #7b2cbf;
}